<div class="App">
  <div class="card bg-neutral text-neutral-content card-side">
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr class="text-lg">
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>
              <button (click)="navigateToUpdate(user._id)" class="btn btn-success">Update</button>
            </td>
            <td>
              <button  (click)="onDelete(user._id)" class="btn btn-error">Delete
              </button>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
  <div class="flex p-4 justify-end">

    <button (click)="navigateToAdd()" class="btn btn-accent">Add ++</button>

  </div>
</div>